[Unit]
Description=MyApp Service
After=network.target

[Service]
Type=simple
ExecStart=/root/.nvm/versions/node/v18.14.2/bin/node /var/www/upload-api/index.js
Restart=always

[Install]
WantedBy=multi-user.target