[Unit]
Description=DS API
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/upload-api
ExecStart=/usr/bin/node /var/www/upload-api/index.js
Restart=always

[Install]
WantedBy=multi-user.target